<mat-card style="margin: 16px;">
  <mat-card-title>Board</mat-card-title>

  <div style="margin-top: 12px; display:flex; gap: 8px;">
    <button mat-stroked-button (click)="logout()">Logout</button>
  </div>

  @if (loading) {
    <div style="margin-top: 16px;">
      <mat-spinner diameter="28"></mat-spinner>
    </div>
  } @else {
    <div class="board">
      @for (s of statuses; track s.id) {
        <div class="col">
          <div class="col-header">
            <div class="col-title">{{ s.name }}</div>
            <button mat-icon-button (click)="openAddTask(s.id)">
              +
            </button>
            <div class="col-count">
              {{ getTasksForStatus(s.id).length }}
            </div>
          </div>

          <div
            class="col-body"
            cdkDropList
            [cdkDropListData]="getList(s.id)"
            [cdkDropListConnectedTo]="dropListIds"
            [cdkDropListSortingDisabled]="true"
            [id]="s.id"
            (cdkDropListDropped)="drop($event)"
          >
            @for (t of getList(s.id); track t.id) {
              <div class="card" cdkDrag>
                <div class="card-title">{{ t.title }}</div>
                @if (t.description) {
                  <div class="card-desc">{{ t.description }}</div>
                }
              </div>
            } @empty {
              <div class="empty">No tasks</div>
            }
          </div>

        </div>
      }
    </div>
  }
</mat-card>
